.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 81px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.2rem;
  margin: 50px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: "IBM Plex Serif";
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.0666666666666667rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}0